﻿<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="#" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                @if (ViewBag.LoginProfileImage is null)
                {
                    <img class="rounded-circle" src="~/user.png" alt="" style="width: 40px; height: 40px;">
                }
                else
                {
                    <img class="rounded-circle" src="@ViewBag.LoginProfileImage" alt="" style="width: 40px; height: 40px;">
                }
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Emlakçı Paneli</h6>
                <span>@ViewBag.LoginUserName</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/EstateAgent/Dashboard/Index/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/EstateAgent/MyAdverts/ActiveAdverts/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>İlanlarım</a>
            <a href="/EstateAgent/MyAdverts/PassiveAdverts/" class="nav-item nav-link"><i class="fa fa-list me-2"></i>Pasif İlanlar</a>
            <a href="/EstateAgent/ProductImage/Index/" class="nav-item nav-link"><i class="fa fa-image me-2"></i>İlan Görselleri</a>
            <a href="/EstateAgent/Message/InBox/" class="nav-item nav-link"><i class="fa fa-inbox me-2"></i>Gelen Kutusu</a>
            <a href="/EstateAgent/Message/SendBox/" class="nav-item nav-link"><i class="fa fa-paper-plane me-2"></i>Giden Mesajlar</a>
            <a href="/EstateAgent/Message/CreateMessage/" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Yeni Mesaj</a>
            <a href="/EstateAgent/Profile/UpdateProfile/" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Ayarlar</a>
            <a href="/Default/Index/" class="nav-item nav-link"><i class="fa fa-home me-2"></i>Siteye Git</a>
            <a href="/Login/Logout/" class="nav-item nav-link"><i class="fa fa-times me-2"></i>Çıkış Yap</a>

        </div>
    </nav>
</div>