@using Microsoft.AspNetCore.SignalR
@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

@section Scripts {
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <script type="text/javascript">
                            $(document).ready(() => {
                                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44314/SignalRHub").build(); // SignalRHub sinifina istekte bulunuyoruz (bizim Hubs klasoru altinda olusturdugumuz sinif)
                                $("#connstatus").text(connection.state); //Baglantinin durumunu yazdiracak

                                // Baglantiyi baslattiktan sonra tekrar baglanti durumunu yazdiriyoruz.
                                connection.start().then(() => {
                                    $("#connstatus").text(connection.state);
                                    setInterval(() => {
                                        connection.invoke("SendCategoryCount"); // Nereye baglanacagiz (SendCategoryCount metoduna baglanilacak)
                                    },1000); // Her 1 saniyede bir SignalRHub'taki metoda istekte bulunarak anlik olarak veri cekmis olacak
                                }).catch((err) => { console.log(err) });
     
                                connection.on("ReceiveCategoryCount", (value) => {
                                    $("#categorycount").text(value); // value degiskeninden gelen degeri categorycount id'sine sahip elemente yazdir.
                                }); // SendCategoryCount icinde de ReceiveCategoryCount'a gidecek
                            })

                           
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="alert alert-warning">Bağlantı Durumu: <strong id="connstatus"></strong></div>
    </div>

    <div class="col-md-8 offset-2">
        <div class="alert alert-primary">Kategori Sayısı: <strong id="categorycount"></strong></div>
    </div>
</div>