@model List<ResultToDoListDto>

<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Yapılacaklar Listesi</h6>
            <a asp-controller="ToDoList" asp-action="Index">Tümünü Gör</a>
        </div>

        @await Component.InvokeAsync("_AdminDashboardCreateToDoListComponentPartial")

        @foreach (var item in Model)
        { 
            @* Eger ilgili ToDoList yapilmissa(true) ustu cizili gelecek yapilmamissa(false) normal gelecek *@
            @if (!item.ToDoListStatus)
            {
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox">
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span>@item.Description</span>
                            <button class="btn btn-sm"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex align-items-center border-bottom py-2">
                    <input class="form-check-input m-0" type="checkbox" checked>
                    <div class="w-100 ms-3">
                        <div class="d-flex w-100 align-items-center justify-content-between">
                            <span><del>@item.Description</del></span>
                            <button class="btn btn-sm text-primary"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>