@model UpdateProductDto
@{
    ViewData["Title"] = "UpdateAdvert";
    Layout = "~/Areas/EstateAgent/Views/LayoutEstateAgent/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">İlan Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="ProductID" />
                    <label>İlan Başlığı</label>
                    <input type="text" asp-for="Title" class="form-control" />
                    <br />
                    <label>Şehir</label>
                    <input type="text" asp-for="City" class="form-control" />
                    <br />
                    <label>İlçe</label>
                    <input type="text" asp-for="District" class="form-control" />
                    <br />
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.ProductCategory, (IEnumerable<SelectListItem>)ViewBag.categories, new { @class = "form-control" })
                    <br />
                    <label>Fiyat</label>
                    <input type="text" asp-for="Price" class="form-control" />
                    <br />
                    <label>Tür Seçin</label>
                    <select id="cities" asp-for="Type" class="form-control">
                        <option value="">--- Tür Seçin ---</option>
                        <option value="Satılık">Satılık</option>
                        <option value="Kiralık">Kiralık</option>
                    </select>
                    <br />
                    <label>Kapak Fotoğrafı</label>
                    <input type="text" asp-for="CoverImage" class="form-control" />
                    <br />
                    <label>İlan Açık Adresi</label>
                    <textarea asp-for="Address" class="form-control" rows="5"></textarea>
                    <br />
                    <label>İlan Açıklaması</label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <br />
                    <button class="btn btn-primary">İlanı Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>