@model CreateContactDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="/Default/Index/">Ana Sayfa</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Bize Yazın</li>
        </ul>
    </div>
</section>

<section class="w3l-contact-7 pt-5" id="contact">
    <div class="contacts-9 pt-lg-5 pt-md-4">
        <div class="container">
            <div class="top-map">
                <div class="row map-content-9">
                    <div class="col-lg-8">
                        <div class="contact-form">
                            <h5 class="mb-2">Bize Ulaşın</h5>
                            <form method="post" class="">
                                <div class="form-grid">
                                    <div class="input-field">
                                        <input type="text" name="Name" id="w3lName" placeholder="Adınız"
                                               required="">
                                    </div>
                                    <div class="input-field">
                                        <input type="email" name="Email" id="w3lSender" placeholder="E-Mail"
                                               required="">
                                    </div>
                                </div>
                                <div class="input-field mt-4">
                                    <div class="input-field mb-4">
                                        <input type="text" name="Subject" id="w3lSender" placeholder="Konu"
                                               required="">
                                    </div>
                                    <textarea name="Message" id="w3lMessage" placeholder="Mesaj"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-style mt-3">Gönder</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 cont-details">
                        <address>
                            <h5 class="">Merkez Ofis</h5>
                            <p>
                                <span class="fa fa-map-marker"></span>Estate sale office, 32, My Street, Kingston,
                                New York 12401.
                            </p>

                            <h5 class="mt-4 pt-lg-3">Telefon Bilgileri</h5>
                            <p>
                                <span class="fa fa-mobile"></span> <strong>Telefon 1:</strong>
                                <a href="tel:+1(12) 366 411 4999"> (+1) 366 411 499</a>
                            </p>

                            <p>
                                <span class="fa fa-phone"></span> <strong>Telefon 2 :</strong>
                                <a href="tel:+1(12) 366 411 4999"> (+1) 366 411 499</a>
                            </p>

                            <p>
                                <span class="fa fa-envelope"></span> <strong>E-Mail :</strong>
                                <a href="mailto:mail@example.com"> mail@example.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.2895687731!2d-74.26055986835598!3d40.697668402590374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1562582305883!5m2!1sen!2sin"
                    frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </div>
</section>